@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* css toast message*/
.toast {
  width: 350px;
  background-color: white;
}
.title {
  font-size: 20px;
  font-weight: 700;
}
/*css type toast*/
.toast_inner {
  padding: 0 8px;
  border-left: 8px;
  border-style: solid;
}
.toast__error .title {
  color: #ef5350;
}

.toast__error {
  color: #ef5350;
  border-left-color: #ef5350;
}

.toast__infor .title {
  color: blue;
}
.toast__infor {
  color: blue;
  border-left-color: blue;
}
.toast__success .title {
  color: #9ccc65;
}

.toast__success {
  color: #9ccc65;
  border-left-color: #9ccc65;
}

.toast__warning {
  color: #ffca28;
}
.toast__warning {
  color: #ffca28;
  border-left-color: #ffca28;
}
.toast + .toast {
  margin-top: 20px;
}
@keyframes showIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes showOut {
  to {
    opacity: 0;
  }
}
.container {
  max-width: 1024px;
}
body {
  color: rgb(var(--foreground-rgb));
  padding: 0;
  margin: 0;
  background-color: #0d0c0f;
}

.slide {
  position: absolute;
  opacity: 0;
  transition: all ease 0.7s;
}
.slide.active {
  transform: translateX(0);
  opacity: 1;
}
.slide.next {
  transform: translateX(100%);
}
.slide.last {
  transform: translateX(-100%);
}
.swiper-button-prev,
.swiper-button-next {
  background: #28262d;
  border-radius: 100%;
  width: 35px !important;
  height: 35px !important;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 12px !important;
  color: white !important;
}

.swiper-button-disabled {
  display: none !important;
}

/*
 css scroll bar*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  --tw-bg-opacity: 1;
  background-color: rgb(18 18 18 / var(--tw-bg-opacity));
  border-radius: 9999px;
  transition-duration: 0.3s;
  -webkit-transition-property:
    color,
    background-color,
    border-color,
    fill,
    stroke,
    opacity,
    box-shadow,
    -webkit-text-decoration-color,
    -webkit-transform,
    -webkit-filter,
    -webkit-backdrop-filter;
  transition-property:
    color,
    background-color,
    border-color,
    fill,
    stroke,
    opacity,
    box-shadow,
    -webkit-text-decoration-color,
    -webkit-transform,
    -webkit-filter,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-property:
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke,
    opacity,
    box-shadow,
    transform,
    filter,
    backdrop-filter,
    -webkit-text-decoration-color,
    -webkit-transform,
    -webkit-filter,
    -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
::-webkit-scrollbar-track {
  background-color: initial;
}
